* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    font-size: 1.5vw;
}

code {
    font-family: monospace;
    font-size: 20px;
}

:root {
    --orange-1: #FFD68A;
    --orange-2: #FFC55C;
    --orange-3: #FFB52E;
    --orange-4: #FFA500;
    --orange-5: #D18700;
    --orange-6: #A36A00;
    --orange-7: #754C00;
}

body {
    display: flex;
    flex-wrap: wrap;
}

main {
    margin-left: 400px;
    order: 2;
    background: linear-gradient(45deg,var(--orange-4),var(--orange-3),var(--orange-2),var(--orange-1));
}

nav {
    position: fixed;
    height: 100vh;
    order: 1;
    border-right: 1px solid white;
    background-color: var(--orange-1);
}

.nav-header {
    width: 400px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-bottom: 1px solid white;
    background-color: var(--orange-3);
    font-size: 18px;
}

nav a {
    font-size: 18px;
    font-weight: bold;
}

.link-container {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid white;
}

section header {
    padding: 20px;
    backdrop-filter: brightness(90%);
}

section p {
    padding: 20px;
}

ul li {
    font-size: 1.5vw;
    padding: 20px;
}

.code-container {
    background-color: #cdcdcd;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
}

h3 {
    padding: 5px 20px;
}

@media screen and (max-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: absolute;
        height: 100vh;
    }
}